STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2

# Stripe Configuration
# Get your API keys from: https://dashboard.stripe.com/apikeys
STRIPE_API_KEY=sk_test_frfrgrgE
# Get your webhook secret from: https://dashboard.stripe.com/webhooks
STRIPE_WEBHOOK_SECRET=whsec_gerggerg

LOG_FILE=logs/medusa.log
LOG_LEVEL=error    # Only show errors

NODE_ENV=production